{% extends "accounts/base.html" %}

{% block title %}
<title>Delete Order</title>
{% endblock title %}


{% block content %}
<p class="font-bold p-3 text-xl">Are you sure you want to delete {{order.product.name}} order from {{order.customer.name}}?</p>
<form method="POST" action="{%url 'home:delete_order' order.id%}">
    <div class="flex justify-start mx-3 gap-2">
        {%csrf_token%}
        {{form}}
    </div> 

    <div class="flex gap-3 justify-center items-center">
        <a class="rounded-md bg-slate-400 p-1 font-semibold hover:bg-slate-700" href="{%url 'home:home'%}">Cancel</a>
        <button type="submit" value="Submit" class="bg-red-500 p-1 rounded-md font-semibold hover:bg-red-600">Delete</button>
    </div>
        
</form>

{% endblock %}